@model IEnumerable<DTO.DonViDTO>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.MS_DV)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TenDonVi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VietTat)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.MS_DV)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenDonVi)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VietTat)
            </td>
            <td>
                <a href="@Url.Action("Update","DonVi",new { ms_dv = @item.MS_DV})">Update</a> |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                <a href="@Url.Action("Delete","DonVi",new { ms_dv = @item.MS_DV})">Delete</a>
            </td>
        </tr>
    }
</table>